{{!< default}}

<header>
  <h1 class="text-3xl font-bold">{{ @site.title }}</h1>
  <h2 class="text-2xl">{{ @site.description }}</h2>
</header>

<main role="main">

  <!-- For each one of the posts, display the title -->
  {{#foreach posts}}
    <h1><a href="{{url}}">{{title}}</a></h1>
  {{/foreach}}

</main>

<!-- Pagination block -->
{{pagination}}